{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        Thorin's Company consisted of the following thirteen dwarves. Their quest in The Hobbit is the main impetus of
        the plot.[a] Their quest was joined by Bilbo Baggins (the titular hobbit) and occasionally by the wizard
        Gandalf. Tolkien took the names of Gandalf and 12 of the 13 dwarves – excluding Balin – from the Old Norse
        Völuspá.
    </p>
    <div class="row featurette">
        <div class="col-md-7">
            <h2>Thorin Oakenshield</h2>
            <p>
                In the year TA 2746, Thorin II was born to Dwarven prince Thrain II in the mountain city of The Lonely
                Mountain. Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the
                dragon Smaug inTA 2770. During the exile, he quickly grew to become a capable warrior. This was
                demonstrated when he participated in the Battle of Azanulbizar in TA 2799. He marched with one of the
                Dwarven armies beneath the East-gate of Moria. At some point in the fighting, his shield broke, and
                using an oaken tree branch found on the floor as a shield, he gained the epithet "Oakenshield," which
                would remain with him even in death.[2]
            </p>
            <p>
                Thorin eventually became King-in-Exile of Durin's Folk after his father went missing, and presumably
                died in the dungeons of Dol Guldur.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/7/76/ThorinTDOMTextlessPoster.jpg" alt="Thorin Picture">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="Fili And Kili Picture">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                Fíli and Kíli were brothers, the youngest of the thirteen Dwarves who set out with Thorin Oakenshield's
                company, along with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from the dragon Smaug.
            </p>
        </div>
    </div>
{% endblock %}